* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.banner {
    background-color: #00A86B;
    color: #FFFFFF;
    padding: 13px 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 16px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

header {
    background: linear-gradient(135deg, #002147, #004d79);
    padding: 20px 20px;
    color: #FFFFFF;
    text-align: center;
    position: relative;
    top: 50px; /* Ajuste para colocar el header debajo del banner */
}

header .logo img {
    height: 300px;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 60px;
    align-items: center;
}

nav ul li {
    margin-left: 30px;
}

nav ul li a {
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 15px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #00A86B;
    color: #ffffff;
}

.hero {
    background: linear-gradient(135deg, #002147, #004d79);
    color: #FFFFFF;
    padding: 20px 0;
    text-align: center;
    margin-top: 50px; /* Ajuste para evitar la superposición con el banner */
}

.carousel {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 10px;
    height: auto;
    max-height: 600px;
}

.carousel-images {
    display: flex;
    transition: transform 1.5s ease-in-out;
    width: 200%;
    justify-content: flex-start;
}

.carousel-images img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.hero-content h2 {
    font-size: 32px;
    margin: 0 0 10px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.hero-content p {
    font-size: 18px;
    margin-bottom: 20px;
    color: #FFFFFF;
}

button {
    background-color: #00A86B;
    color: #FFFFFF;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #004d40;
}

section {
    padding: 40px 20px;
    text-align: center;
}

.features {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.feature-item {
    flex: 1;
    padding: 20px;
    background-color: #ffffff;
    margin: 0 10px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.feature-item h3 {
    color: #002147;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.feature-item p {
    font-size: 16px;
    color: #333;
    font-family: 'Roboto', sans-serif;
}

.feature-item:hover {
    background-color: #f0f0f0;
}

.download-section {
    background-color: #f4f4f4;
    padding: 50px 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.download-content {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.phone-image {
    max-width: 400px;
    margin-right: 20px;
}

.download-text {
    text-align: left;
}

.download-text h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    color: #002147;
    font-weight: 700;
    margin-bottom: 20px;
}

.download-text p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #333;
    margin-bottom: 30px;
}

.app-buttons img {
    max-width: 150px;
    margin-right: 10px;
}

.contact-section {
    background: linear-gradient(135deg, #002147, #004d79);
    color: #FFFFFF;
    padding: 60px 20px;
}

.contact-section h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #FFFFFF;
}

.contact-section p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-bottom: 30px;
    color: #FFFFFF;
}

.contact-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    margin-left: 0px; /* Añade un margen izquierdo para mover el contenedor hacia la izquierda */
}





.contact-info {
    flex: 1;
    padding-right: 40px;
    text-align: left;
}

.contact-info h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #00A86B;
}

.contact-info p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
}

form {
    flex: 1;
    background-color: #fff;
    color: #333;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-right: auto; /* Añadir auto margen a la derecha para empujar el formulario hacia la izquierda */

}

form label {
    display: block;
    margin-bottom: 8px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

form input, form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}

form button {
    background-color: #00A86B;
    color: #FFFFFF;
    border: none;
    padding: 15px 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #004d40;
}

footer {
    background: linear-gradient(135deg, #002147, #004d79);
    color: #FFFFFF;
    text-align: center;
    padding: 20px 0;
    margin-top: 0;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .features {
        flex-direction: column;
    }

    .feature-item {
        margin-bottom: 20px;
    }

    .contact-container {
        flex-direction: column;
    }

    .contact-info {
        padding-right: 0;
        margin-bottom: 20px;
    }
}
